/*** The new CSS Reset - version 1.0.0 (last updated 8.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img,
video {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}
button {
  background: gray;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: black;
}

.video-wrapper[data-video-count='1'] .video {
  width: 100%;
}

.video-wrapper[data-video-count='2'] .video {
  width: calc(50% - 8px);
}
.video-wrapper[data-video-count='3'] .video {
  width: calc(50% - 8px);
}
.video-wrapper[data-video-count='4'] .video {
  width: calc(50% - 8px);
}
.video-wrapper[data-video-count='5'] .video {
  width: calc(33% - 8px);
}
.video-wrapper[data-video-count='6'] .video {
  background-color: #f0f;
  width: calc(33% - 8px);
}

.video {
  position: relative;
}

.video > video {
  width: 100%;
  aspect-ratio: 4/3;
  background-color: #333;
}

.video > span {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px 8px;
  border-radius: 4px;
}
