:root {
  --color-white: #fff;
  --color-bg: #eff1fa;

  --font-title: Inter, Avenir, Helvetica, Arial, sans-serif;

  --width-container: 1200px;

  --radius-md: 6px;

  --shadow-md: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
